.item-song {
  width: 32.9%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: rgba(151, 147, 147, 0.4);
    .item-song_detail {
      .item-song_img {
        width: 4.5rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .item-song_icon {
      display: block;
      cursor: pointer;
    }
    .item-song_img-icon {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      span {
        cursor: pointer;
        display: block !important;
        font-size: 1.3rem;
      }
    }
  }
  .item-song_detail {
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .item-song_img {
      position: relative;
      overflow: hidden;
      width: 4.5rem;
      img {
        width: 100%;
        height: 100%;
      }
      .item-song_img-icon {
        span {
          display: none;
          position: absolute;
          top: 1.4rem;
          left: 1.9rem;
          .item-song_img-icon_audio {
            border-radius: 50%;
            transform: translate(-0.4rem, 0.2rem);
          }
        }
      }
    }
    .item-song_content {
      p {
        margin: 0;
        max-width: 102%;
      }
      .item-song_detail-artists {
        display: flex;
        .artists-name {
          color: #858189 !important;
          font-size: 0.8rem !important;
          a {
            @extend .artists-name;
            &:hover {
              color: #9b4de0 !important;
              text-decoration: underline !important;
            }
          }
        }
      }
      span {
        color: #858189 !important;
      }
    }
  }
  .item-song_icon {
    display: none;
  }
}
