.new-release {
  .new-release_type {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 30%;
    .btn-type {
      width: 30%;
      text-align: center;
      cursor: pointer;
      padding: 0.3rem 1rem;
      border-radius: 1rem;
      background-color: #2f2739;
    }
  }
  .new-release_content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.4rem;
  }
}

.active {
  background-color: #ee2b74 !important;
}
