.playerControlBar {
  .iconControls {
    font-size: 1.2rem;
    cursor: pointer;
    .borderStart {
      width: 2.2rem;
      height: 2.2rem;
      border: 1px solid #fff;
      transform: translateY(-0.1rem);
    }
  }
  .loading {
    span {
      border: 1px solid white;
      border-radius: 50%;
      padding: 0.4rem;
      width: 2.2rem;
      height: 2.2rem;
      transform: translateY(-0.1rem);
    }
  }
  .playerControlBarRange {
    .progressBar {
      position: relative;
      background-color: #5a5561;
      height: 0.2rem;
      overflow: unset;
      .progressBarThumb {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 100%;
        // transition: all 0.2s;
      }
      &:hover {
        height: 0.3rem;
        .progressBarThumb {
          &::after {
            content: "";
            position: absolute;
            right: -7px;
            width: 0.9rem;
            height: 0.9rem;
            background-color: #fff;
            top: -0.29rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.active {
  color: #ee2b74;
}
